/* ============================================================================
 ** File: custom-styles.css
 ** ============================================================================
 */

/* Load our fonts */

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:600");

/*
 * Override the definitions set in the Minima's theme initialize.scss.
 * ............................................................................
 */

$base-font-family: "Rubik", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Source Code Pro", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}


/*
 * The rest is my customization.
 * ............................................................................
 */

html, 
body { 
    height: 100%; 
}

body > .container { 
    height: auto; 
    min-height: 100%; 
}

body {
    margin-top: 0;
    padding-bottom: 0;
    color: #5a5a5a;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break: break-word;
    hyphens: auto;
    background: url('/blog/images/noisy_grid_green.png');
}

header.site-header {
    background-color: #252825;
    color: white;
    padding: 0;
    background: linear-gradiet(#252825, #202020);
    min-height: 65px;
}

/*
.wrapper {
    max-width: 92%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding-top: 1em;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15)
}
*/

.wrapper {
    max-width: 98%;
    background-color: inherit;
    padding-top: 0;
}

header.site-header .wrapper {
    max-width: 92%;
    font-family: 'Cabin', sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    padding: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

header.site-header a.site-title,
header.site-header a.page-link {
    color: white;
    font-weight: 500;
    letter-spacing: 0.25pt;
    text-shadow: 1px 1px 3px #444;
}

main, article {
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    line-height: 1.4;
    color: #505050;
}

/* Section numbering */

body {
    counter-reset: h2counter;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: #505050;
    text-decoration: underline;
}

main a {
    color: black;
    text-decoration: underline;
}

main a:visited {
    color: #666;
    text-decoration: underline;
}

main strong,
main b {
    font-weight: 500;
    color: black;
}

article h1 {
    counter-reset: h2counter;
}

article h2:before {
    content: counter(h2counter) "\0000a0\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

article h3:before {
    content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0\0000a0";
    counter-increment: h3counter;
}

/* Styling */

.home p {
    margin-bottom: 1em;
}

.home p.post-meta-description {
    margin-bottom: 0.5em;
}

.post {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.25em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding: 1.5em 2em 2em 2em;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15)
}

.post-list {
    padding-bottom: 1em;
}

.post-list h1,
.post-list h2,
.post-list h3 {
    padding-top: 0;
}

.post-list li {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 1.75em;
    color: black;
}

.post-list h3 .post-link {
    font-size: 0.85em;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    padding-top: 0;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.page-content {
    padding-top: 2em;
}

article .post-header h1,
main.page-content h1 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

article .post-content h2,
main.page-content h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    color: black;
}

article .post-content h3,
main.page-content h3 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: black;
}

article .post-content h4,
main.page-content h4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    font-style: oblique;
    color: black;
}

header.post-header .page-description {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
}

.post-meta {
    color: white;
    text-align: center;
    margin-top: 0.25em;
}

.post-meta time.dt-published {
    color: #5a5a5a;
}

.post-list li p {
    display: inline-block;
}

.post-list p.post-meta {
    float: right;
    display: inline;
    color: #5a5a5a;
    font-style: italic;
    font-size: 10pt;
}

.keywords {
    font-size: 0.8em;
    text-align: center;    
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.keywords-link:before {
    content: "#";
}

.dt-published {
    text-align: center;
    font-style: oblique;
    color: #5a5a5a;
}

.read-time {
    display: none;
}

.section-nav {
    display: inline-block;
    float: right;
    font-size: 10pt;
    border: 1px solid #ccc;
    padding: 0.5em 1em 0.5em 2em;
    border-radius: 6px;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 2em;
}

ul.section-nav:before {
    content: "Content";
    color: #888;
    font-style: italic;
    display: inline-block;
    width: 100%;
    text-align: center;
}

h2.subtitle {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
    color: #5a5a5a;
    font-style: italic;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}

h3 {
    font-size: 1em;
}

/* The default code font size looks oversized to my eyes. */
article .post-content pre, 
article .post-content code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: black;
    background-color: #edf0ed;
    font-size: 11pt;
    border: none;
}

h2, h3, h4 {
    padding-top: 60px;
    margin-top: -60px;
}

ol li {
    margin-top: 0.5em;
}

.post-content blockquote {
    font-size: 11pt;
    margin-bottom: 0.75em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.post-content ul,
.post-content ol {
    margin-bottom: 0.75em;
}

.dropdown-menu li a {
    line-height: 1.2;
    color: black;
    text-decoration: underline;
}

span.section-number {
    margin-right: 1ex;
}

span.header-section-number {
    margin-right: 1ex;
}

li.headline {
    font-weight: bold;
    font-size: larger;
}

.main-toc li:not(.headline),
.navbar-nav li:not(.headline) {
    margin-left: 25px;
}

.toc li {
    margin-top: 0.5em;
}

.article-list.toc li {
    margin-top: 1em;
}

h1#references {
    border-top: 1px solid #aaa;
    margin-top: 2em;
    padding-top: 0.5em;
}

.references span {
    color: black;
}

/* Bootstrap's styling of <p> adds a 10px margin below, but it doesn't
   define it for <center>.  This seems useful to make things more consistent.
*/
center {
    margin-bottom: 10px;
}

/* Extra styles for the notebook.
 */
h3.date {
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.date:before {
    content: "Last modified: ";
}

.date-tag {
    clear: both;
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.75;
    color: #666666;
}

.authors {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.authors .author {
    line-height: 0.5em;
}

.article-list {
    margin-left: 2em;
}

figcaption {
    font-style: italic;
    font-size: smaller;
    font-color: #666666;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 1.5em;
    text-align: justify;
    /* The following doesn't work in Safari. */
    text-align-last: center;
    -moz-text-align-last: center;
}

figure {
    text-align: center;
}

figure img {
    margin: auto;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15)
}

figure img.no-shadow {
    margin: auto;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

figure.float-right {
    display: inline-block;
    float: right;
}

figure.float-left {
    display: inline-block;
    float: left;
}

figure.width-25 {
    max-width: 25%;
}

figure.width-33 {
    max-width: 33%;
}

figure.width-50 {
    max-width: 50%;
}

figure.width-66 {
    max-width: 66%;
}

.copyright-repo-info {
    float: left;
    display: inline-block;
    padding-left: 1em;
}

.search-result-highlight {
  background-color: #ffffcc;
}

.search-result-rel-date {
    color: purple;
}

.search-result-preview {
    color: #777777;
    font-style: oblique;
    margin-bottom: 0.5em;
}

footer {
    padding-bottom: 0;
}

.site-footer {
    padding-bottom: 10px;
}

footer .wrapper {
    font-family: 'Cabin', sans-serif;
    font-size: 9pt;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

footer .wrapper a {
    color: black;
    text-decoration: underline;
}

footer .wrapper a:visited {
    color: #777;
    text-decoration: underline;
}

footer .footer-col {
    margin-bottom: 0;
}

footer .footer-col-wrapper {
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer .feed-subscribe {
    text-align: right;
    margin-right: 2em;
}

footer .footer-col:nth-child(2) {
    text-align: left;
    margin-left: 2em;
}

footer .feed-subscribe .svg-icon.orange {
    color: #5a5a5a;
    height: 1.5em;
    width: 1.5em;
    margin-bottom: -0.1em;
    margin-right: -0.1em;
    border-radius: 4px;
}

.social-links {
    display: none;
}

/* The first in each group is the main category, which fastpages
(or maybe jekyll?) puts in a top-level directory. */

a[href*="categories/#sysbio"]                   { color: #0099ff; text-decoration: none; }
a[href*="categories/#sysbio"]:visited           { color: #0099ff; text-decoration: none; }
a[href*="categories/#sbml"]                     { color: #0079ab; text-decoration: none; }
a[href*="categories/#sbml"]:visited             { color: #0079ab; text-decoration: none; }

a[href*="categories/#machine-learning"]         { color: #f00000; text-decoration: none; }
a[href*="categories/#machine-learning"]:visited { color: #f00000; text-decoration: none; }
a[href*="categories/#python"]                   { color: #ff4d4d; text-decoration: none; }
a[href*="categories/#python"]:visited           { color: #ff4d4d; text-decoration: none; }
a[href*="categories/#HTR"]                      { color: #ff1a1a; text-decoration: none; }
a[href*="categories/#HTR"]:visited              { color: #ff1a1a; text-decoration: none; }
a[href*="categories/#software"]                 { color: #d02090; text-decoration: none; }
a[href*="categories/#software"]:visited         { color: #d02090; text-decoration: none; }
a[href*="categories/#AI"]                       { color: #d00000; text-decoration: none; }
a[href*="categories/#AI"]:visited               { color: #d00000; text-decoration: none; }
a[href*="categories/#networking"]               { color: #cc3300; text-decoration: none; }
a[href*="categories/#networking"]:visited       { color: #cc3300; text-decoration: none; }
a[href*="categories/#git"]                      { color: #ff8566; text-decoration: none; }
a[href*="categories/#git"]:visited              { color: #ff8566; text-decoration: none; }
a[href*="categories/#emacs"]                    { color: #cF7010; text-decoration: none; }
a[href*="categories/#emacs"]:visited            { color: #cF7010; text-decoration: none; }
a[href*="categories/#latex"]                    { color: #dfc9cc; text-decoration: none; }
a[href*="categories/#latex"]:visited            { color: #dfc9cc; text-decoration: none; }
a[href*="categories/#macos"]                    { color: #ffb3b3; text-decoration: none; }
a[href*="categories/#macos"]:visited            { color: #ffb3b3; text-decoration: none; }

a[href*="categories/#hardware"]                 { color: #e900f0; text-decoration: none; }
a[href*="categories/#hardware"]:visited         { color: #e900f0; text-decoration: none; }
a[href*="categories/#mac"]                      { color: #bf00cf; text-decoration: none; }
a[href*="categories/#mac"]:visited              { color: #bf00cf; text-decoration: none; }
a[href*="categories/#ipad"]                     { color: #df33cc; text-decoration: none; }
a[href*="categories/#ipad"]:visited             { color: #df33cc; text-decoration: none; }

a[href*="categories/#life-hacks"]               { color: #aaaa55; text-decoration: none; }
a[href*="categories/#life-hacks"]:visited       { color: #aaaa55; text-decoration: none; }
a[href*="categories/#efficiency-hacks"]         { color: #ffad33; text-decoration: none; }
a[href*="categories/#efficiency-hacks"]:visited { color: #ffad33; text-decoration: none; }
a[href*="categories/#research"]                 { color: #9cdc00; text-decoration: none; }
a[href*="categories/#research"]:visited         { color: #9cdc00; text-decoration: none; }

a[href*="categories/#photography"]              { color: #80a000; text-decoration: none; }
a[href*="categories/#photography"]:visited      { color: #80a000; text-decoration: none; }


/* other colors:
#996611
#9b59b6
#d00000
purple
 */

/*
 * Override the code highlighting theme settings.
 * ............................................................................
 */

@import "minima/syntax-github"; 

.highlight {
  background-color: #f0f3f0 !important;
}

article .post-content pre {
    background-color: inherit;
}

pre.highlight code {
    background-color: inherit;
}
